* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
     background-image: linear-gradient(
        rgb(59,88,93),
        rgb(29,40,42)
    );
    color: #ffffff;
}

.game-container {
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    margin: 0 auto;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #780505;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: transparent;
    cursor: pointer;
    transition: all 0.3s;
}

.card.flipped {
    color: #fff;
    background-color: #0c4f8a;
}

.card.matched {
    background-color: #6d0791;
    cursor: default;
}

.reset-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4f7bb0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.reset-btn:hover {
    background-color: #c0392b;
}
